{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<section class="registration-container">
    <div class="registration-wrapper flower-background">
        <h1 class="registration-title">Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div class="bordered-section">
            <fieldset class="mb-5">
                <legend>Mon identité</legend>
                <div class="form-field">
                    {{ form_row(registrationForm.Last_Name) }}
                </div>
                <div class="form-field">
                    {{ form_row(registrationForm.First_Name) }}
                </div>
            </fieldset>
        </div>
        <div class="bordered-section">
            <fieldset class="mb-3">
                <legend>Mes coordonnées</legend>
                <div class="form-field">
                    {{ form_row(registrationForm.Address) }}
                </div>
                <div class="form-field">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="form-field">
                    {{ form_row(registrationForm.Phone_Number) }}
                </div>
            </fieldset>
        </div>
        <div class="form-field">
            {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
        </div>
        <div class="form-field">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="submit-button btn btn-success btn-lg my-3">Enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
</section>
{% endblock %}
