{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
 <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <img src="{{ asset('image/Image2.JPG') }}" alt="Symfony!" id="ImageAccueil1" class="mt-3 mb-3 full-width">
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-3 custom-block">
                <div class="custom-text-block">
                    <h2 class="custom-title">Traiteur & Moi</h2>
                    <h3 class="custom-subtitle">RENCONTRE AVEC KELLY ET SA PASSION</h3>
                    <br>
                    <p class="custom-paragraph">Je m'appelle Kelly et je suis passionnée par la cuisine. 
                        Depuis mon local, je prépare des plats délicieux pour vos mariages, anniversaires et autres célébrations.
                        Chaque plat est fait avec amour et des ingrédients frais, pour garantir des moments gourmands et inoubliables.
                        J'adore créer des menus personnalisés qui enchantent vos invités et ajoutent une touche spéciale à vos événements.
                        Avec moi, chaque fête devient un véritable festin !
                    </p>
                </div>
                <img src="{{ asset('image/KellyPhoto.JPG') }}" alt="Image gauche" class="custom-image">
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-3">
                <img src="{{ asset('image/Image4.JPG') }}" alt="Symfony!" id="ImageAccueil2" class="mt-3 mb-3 full-width">
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-3 custom-block2">
                <div class="custom-text-block">
                    <h2 class="custom-title">Restauration & Événement</h2>
                    <h3 class="custom-subtitle">VOTRE FETE, NOTRE PASSION</h3>
                    <br>
                    <p class="custom-paragraph">Pour transformer vos événements et anniversaires en moments mémorables, je suis à votre disposition.
                       Faites confiance à notre service de restauration pour émerveiller vos invités et garantir leur satisfaction.
                    </p>
                </div>
                <img src="{{ asset('image/image11.JPG') }}" alt="Image gauche" class="custom-image">
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-3">
                <img src="{{ asset('image/Image8.JPG') }}" alt="Symfony!" id="ImageAccueil3" class="mt-3 mb-3 full-width">
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-3 custom-block3">
                <div class="custom-text-block">
                    <h2 class="custom-title">Qualité & Saveurs</h2>
                    <h3 class="custom-subtitle">CUISINE AUTHENTIQUE, SAVEURS PARTAGÉ</h3>
                    <br>
                    <p class="custom-paragraph">En tant que traiteur indépendante, je m'engage à vous offrir une expérience culinaire exceptionnelle. Avec passion et précision, je sélectionne des ingrédients frais et prépare chaque plat avec soin. 
                       Mon objectif est de vous offrir des saveurs authentiques et un service impeccable, pour que vous puissiez profiter pleinement de chaque moment sans soucis.
                       Faites-moi confiance pour rendre votre événement mémorable avec une cuisine raffinée et un service attentionné.
                    </p>
                </div>
                <img src="{{ asset('image/image9.JPG') }}" alt="Image gauche" class="custom-image">
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-3">
                <img src="{{ asset('image/Image14.JPG') }}" alt="Symfony!" id="ImageAccueil3" class="mt-3 mb-3 full-width">
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-3">
        
                <div id="calendar" class="small-calendar mb-3 full-width"></div>
            </div>
            <div class="col-12">
                <div id="comments" class="comments-container full-width">
                    {{ include('comment/_comments.html.twig', { reviews: reviews }) }}
                </div>
                <div class="mt-3">
                    <a href="{{ path('add_comment') }}" class="btn btn-primary">Ajouter un Commentaire</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
