{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column align-items-center" id="containerProfil">
		{% for user in utilisateurs %}
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="{{ asset('image/PhotoProfil.jpg') }}" class="card-img" alt="{{ user.firstName }} {{ user.lastName }}">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{ user.firstName }}
								{{ user.lastName }}</h5>
							<p class="card-text">
								<strong>Adresse :</strong>
								{{ user.adress }}
							</p>
							<p class="card-text">
								<small class="text-muted">{{ user.email }}</small>
							</p>
							<p class="card-text">
								<small class="text-muted">{{ user.phoneNumber }}</small>
							</p>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
