{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <div class="gallery-container">
        <h1 class="title-licorice">Galerie d'images</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('image_new') }}" class="btn btn-primary">Ajouter une nouvelle image</a>
        {% endif %}

        <div class="gallery" style="margin-top: 30px;"> <!-- Augmentation de l'espace en haut -->
            {% for image in images %}
                <div class="image-item">
                    {% if is_granted('ROLE_ADMIN') %}
                        <form method="post" action="{{ path('image_delete', {'id': image.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette image ?');" style="position: absolute; top: 10px; left: 10px; z-index: 10;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    {% endif %}
                    <img src="{{ asset(image.path) }}" alt="{{ image.namePhoto }}" class="zoomable-image">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
