{# templates/announce/about.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Annonces</h1>
        <div class="row">
            {% for announce in announces %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ announce.getNameAnnounce }}</h5>
                            <p class="card-text">{{ announce.getDescriptionAnnounce }}</p>
                            <p class="card-text">
                                <small class="text-muted">{{ announce.getDateSent|date('Y-m-d H:i') }}</small>
                            </p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('announce_modify', { id: announce.id }) }}" class="btn btn-warning">Modifier</a>
                                {{ form_start(delete_forms[announce.id]) }}
                                    <button class="btn btn-danger">Supprimer</button>
                                {{ form_end(delete_forms[announce.id]) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <h2>Ajouter une nouvelle annonce</h2>
            <div class="card mb-4">
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary">Save</button>
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

