{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <div class="container mt-5 announcement-container">
        <h1 class="title-licorice">Annonces</h1>
        <p class="subtitle">Découvrez nos dernières annonces</p>

        <div class="row">
            {% for announce in announces %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ announce.getNameAnnounce }}</h5>
                            <p class="card-text">{{ announce.getDescriptionAnnounce }}</p>
                            <p class="card-text">
                                <small class="text-muted">{{ announce.getDateSent|date('Y-m-d H:i') }}</small>
                            </p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="text-center">
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a href="{{ path('announce_modify', { id: announce.id }) }}" class="btn-custom btn-warning">Modifier</a>
                                        {{ form_start(delete_forms[announce.id], {'attr': {'class': 'd-inline'}}) }}
                                            <button class="btn-custom btn-danger">Supprimer</button>
                                        {{ form_end(delete_forms[announce.id]) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-center mt-4">
                <h2 class="title-licorice">Ajouter une nouvelle annonce</h2>
                <div class="card mb-4 d-inline-block">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button class="btn-custom btn-primary">Ajouter</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
